/** {
    border: 1px solid red;
}
*/
html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16,5%;
}

body {
    height: fit-content;
}
.topmenu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: right;
    text-decoration: none;
}

.topmenu a {
    text-decoration: none;
    color: black;
}


#logo {
    display: block;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto;
}

.topmenu li {

    display: inline;
    height: 30px;
    line-height: 60px;
    width: 50%;
    margin-right: 20px;
}

.fly {
    list-style: none;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.fly li,a {
    display: inline;
    width: 50%;
    margin-right: 20px;
    

}

.fly a {
    text-decoration: none;
    margin: 0 auto;
}

#bio {
    text-align: center;
    width: 80%;
    margin: 0 auto 5px auto;
    padding: 3%;
    line-height: 1.8rem;
    font-size: 1.2rem;
}



/* MAIN HOME MENU */

  .startmenu {
      list-style: none;
      padding: 10px 0 0 0;
      margin: 0 auto;
      text-align: center;
  }

  .startmenu>li {
      list-style: none;
  }

    .table {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(4,1fr);
      grid-template-rows: 30px auto;
      align-items: top;
      width: 40%;
      column-gap: 10%;
      row-gap: 10px;
      column-gap: 20px;
  }

    #research {
        grid-column: 1;
        grid-row: 1;
        text-align: left;
        font-weight: 700;
        color: black;
        font-family: Helvetica, sans-serif;
        text-transform: uppercase;
        font-size: 1rem;
        color: orange;
  }
    #researchlist {
        width:250px;
        text-align: left;
        grid-column: 1;
        grid-row: 2;
        font-size: 0.9rem;
        padding: 0;
        list-style-type: none;
        line-height: 1.4rem;
    }

    #ddlist {
        width:250px;
        text-align: left;
        grid-column: 2;
        grid-row: 2;
        font-size: 0.9rem;
        padding: 0;
        list-style-type: none;
        line-height: 1.4rem;
    }

    #pdlist {
        width:250px;
        text-align: left;
        grid-column: 3;
        grid-row: 2;
        justify-self: start;
        font-size: 0.9rem;
        padding: 0;
        list-style-type: none;
        line-height: 1.4rem;
    }

    #stlist {
        width:250px;
        text-align: left;
        grid-column: 4;
        grid-row: 2;
        font-size: 0.9rem;
        padding: 0;
        list-style-type: none;
        line-height: 1.4rem;
    }


    #ST {
        grid-column: 4;
        grid-row: 1;
        width: auto;
        font-weight: 700;
        text-align: left;
        margin-bottom: 15px;
        text-transform: uppercase;
        font-size: 1rem;
        color: orange;
    }
    #PD {
        grid-column: 3;
        grid-row: 1;
        width: auto;
        font-weight: 700;
        text-align: left;
        margin-bottom: 15px;
        text-transform: uppercase;
        font-size: 1rem;
        color: orange;
        
    }

    #DD {
        grid-column: 2;
        grid-row: 1;
        width: auto;
        font-weight: 700;
        text-align: left;
        text-transform: uppercase;
        font-size: 1rem;
        color: orange;
    }

    .startmenu li a{
        text-decoration: none;
        color:orange;
    }

    #Packaging {
        grid-column: 5;
        grid-row: 2;
    }

    /*----------------------------------------*/
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 0.1rem;
    padding: 0 5rem;
    width: 70%;
    margin: 0 auto;
  }

  .grid > div {
    /*background: black;*/
    padding: 1rem 3.5rem;
    justify-items: center;
    align-items: center;
  }

  .grid > div::before {
    content: "";
    padding-bottom: 2rem;
    display: block;
  }

  .grid > div {
    /* ... */
    display: grid;
  }
  .grid > div::before,
  .grid > div > img {
    grid-area: 1 / 1 / 2 / 2;
    width: 100px;
    height: 75px;
    object-fit: contain;
  }

  /*------------TYPE WRITER--------*/
  .typecontainer {
        
    display: flex;
    justify-content: center;
    padding: 30px 0;
      
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
color:black;
font-size: 0.8rem;
font-family: monospace;
overflow: hidden; /* Ensures the content is not revealed until the animation */
border-right: .15em solid orange; /* The typwriter cursor */
white-space: nowrap; /* Keeps the content on a single line */
margin: 0 auto; /* Gives that scrolling effect as the typing happens */
letter-spacing: .15em; /* Adjust as needed */
animation: 
  typing 3.5s steps(30, end),
  blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
from { width: 0 }
to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: orange }
}

/*------------------------------------------------*/

@media only screen and (max-width: 600px) {

    body>nav{
        width:100%;
    }
    .fly {
        list-style: none;
        text-align: center;
        margin-bottom: 30px;
        width: 100%;
        list-style: inside;
        border: 1px solid green;
    }
    
    .fly li {
        border: 1px solid orange;
        display: block;
        width: 100%;

    }
    .fly a {
        display: block;
        width: 100%;
        margin:0 auto;
        border: 1px solid blue;
    }



    .topmenu {
        display:block;
        justify-content: center;
    }

    #logo {
        margin: 0 auto;
    }

    .topmenu ul {
        text-align: center;
        list-style: none;
        text-decoration: none;
        margin: 0 auto;
    }

    .topmenu li {
        margin: 0 auto;
    }

/*----------- ABOUT ME ----------*/

    .table {
        border: 1px solid red;
        display: block;
        max-width: 500px;
        width: 100%;
        margin: 0 auto;    }
    }

    .typecontainer {
        
        display: block;
        justify-content: center;
        padding: 30px 0;
        width: 300px;

          
    }